<section class="phx-hero">
  <h1>Welcome to Job Board</h1>
  <p>A simple place to post jobs</p>
</section>

<section class="row">
  <article class="column">
    <h2>Search Jobs</h2>
  </article>
  <article class="column">
    <h2>Post Jobs</h2>
  </article>
</section>
